@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')

.default-text
  font-family: "Inter", sans-serif
  font-size: 24px
  color: rgba(0, 0, 0, .15)
  font-weight: 400

.header-text
  font-family: "Inter", sans-serif
  font-size: 36px
  color: #2D2D2D
  font-weight: 600

.background 
  background-image: url("../assets/auth-background.svg")
  background-repeat: no-repeat
  background-size: cover
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

.columns 
  display: flex
  justify-content: space-between
  width: 95%
  height: 90vh
  margin-top: 2rem
  justify-items: center

.start-scan-column
  flex: 1
  background-color: red
  margin-top: 6rem

.scans-column 
  flex: 1.8
  
  margin-right: 2rem
 
.loading
  position: absolute
  bottom: 50%
  height: 90px
  left: 30%
p
  margin: 0